# Quartus
db/
incremental_db/
output_files/
.qsys_edit/
simulation/

*.qws
*dump.txt
*.v.bak
*.rpt
*.log
*.asm.rpt
*.cdf
*.done
*.fit.*
*.flow.*
*.jdi
*.map.*
*.pin
*.sdc
*.sld
*.sof
*.sta.*
*.qdf

# ModelSim
work/

*.wlf